.num{
    margin-left: 7rem;
    margin-top: 3rem;
    background-color: rgb(46, 48, 58);
}

.das{
    width: 47 rem;
    height: 7rem;
    margin-left: 70rem;
    margin-top: 3rem;
}

.most{
    font-size: 25px;
    margin-top: -20rem;
}

.dr{
    margin-top: 15rem;
    width: 50rem;
    margin-left: 20rem;
}