.logv{
  margin-top: -7.5rem;
  margin-left: 16.8rem;   
  font-size: 3.75rem;
}

.vent{
    margin-top: 2rem;
    margin-left: 6rem;
    width: 30%;
    height: 230px;
    border-radius: 1rem;
    background-color:  rgb(255, 255, 255);
    box-shadow: 1px 1px 4px 1px rgba(14, 14, 14, 0.839);
}

.ent{
    margin-top: -14.4rem;
    margin-left: 37.25rem;
    width: 30%;
    height: 230px;
    border-radius: 1rem;
    background-color:  rgb(255, 255, 255);
    box-shadow: 1px 1px 4px 1px rgba(14, 14, 14, 0.839);
}



.vet1{
    margin-top: 0.2rem;
    margin-left: 2.5rem;
    font-size: 1.25rem/* 36px */;
    line-height: 2.5rem/* 40px */;
    font-weight: 800;
    white-space: nowrap;
    color: rgba(14, 14, 14, 0.839);
}

.vent2{
    margin-top: 1.5rem;
    margin-left: 3.5rem;
    font-size: 3.25rem/* 36px */;
    line-height: 2.5rem/* 40px */;
    font-weight: 900;
    white-space: nowrap;
}

.vent3{
    margin-top: 3.5rem;
    margin-left: 2.5rem;
    color: black;
}