/* posicionamiento*/
.map{
    margin-top: 7rem;
    margin-left: 40rem;
   
}
/*-----*/
/* el tamaño de la letra y psicionamiento del h1*/
.map > h1 {
   font-size: 25px;
   margin-left: -32rem;
   margin-top: -2rem; 
}
