 /* ajuste de tabla*/
.mt{
    margin-left: 10%;
    margin-top: 5rem;
}
/*-------*/

/* reducir el tamaño de la letra mas la psicion del texto*/
.cur{
    font-size: 25px;
    margin-left: 5rem;
    margin-top: 1rem;
}
/*------*/